{% extends 'main_app/main2.html' %}
{% load static %}
{% block content1 %}






   <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-60 bg-image" data-bg="{%static 'img/slider/44.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">TEAM 4 </h6>
                            <h1 class="section-title white-color">About Us</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'main_app' %}">Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
    <!-- OUR HISTORY AREA START -->
    <div class="ltn__our-history-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__our-history-inner">
                        <div class="ltn__tab-menu text-uppercase">
                            <div class="nav">
                                <a class="active show" data-toggle="tab" href="#liton_tab_2_2">TEAM 4</a>
                                <a data-toggle="tab" href="#liton_tab_2_3">Kanjirapally</a>
                                <a data-toggle="tab" href="#liton_tab_2_4">Thellakom</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_2_2">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                               <div class="ltn__history-icon">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2">
                                                    <h6 class="section-subtitle ltn__secondary-color">Team 4</h6>
                                                    <h1 class="section-title">About Us<span>.</span></h1>
                                                    <p>We are two innovative heads who have  past 25 years of experience in the field   of business, thereby looking forward to make feel the customers the power and supremacy of  batteries with our leading two brands in the market .Here we provide you guys the German greatness BOSCH and Indian king of batteries AMARON.</p>
                                                </div>

                                                <p>Our Store Provides only the best of the best products, for we value your quality of life !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_2_3">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                                <img src="{% static 'img/img-slide/22.webp' %}" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2">
                                                    <h6 class="section-subtitle ltn__secondary-color">Team 4</h6>
                                                    <h1 class="section-title">Kanjirapally Branch<span>.</span></h1>
                                                    <p>Team4 Automotive Batteries in Kanjirapally, Kottayam is a top player in the category Battery Dealers in the Kottayam. This well-known establishment acts as a one-stop destination servicing customers both local and from other parts of Kottayam. Over the course of its journey, this business has established a firm foothold in it’s industry.In Kottayam, our establishment occupies a prominent location in Kanjirapally. It is an effortless task in commuting to this establishment as there are various modes of transport readily available. It is at , Near St. Joseph eye hospital, which makes it easy for first-time visitors in locating this establishment. </p>
                                                </div>

                                                <p>Our Store Provides only the best of the best products, for we value your quality of life !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_2_4">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                                 <img src="{% static 'img/img-slide/11.jpg' %}" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2">
                                                    <h6 class="section-subtitle ltn__secondary-color">Team 4</h6>
                                                    <h1 class="section-title"> Thellakom Branch
                                                        <span>.</span></h1>
                                                    <p>Team4 Automotive Batteries in Thellakom, Kottayam is our second branch providing top quality BOSCH automotive batteries and AMARON solar batteries. Contact us for ordering best quality batteries.</p>
                                                </div>

                                                <p>Our Store Provides only the best of the best products, for we value your quality of life !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_2_5">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                                <img src="img/img-slide/11.jpg" alt="Image">
                                                <div class="ltn__history-icon">
                                                    <i class="fas fa-trophy"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2">
                                                    <h6 class="section-subtitle ltn__secondary-color"> Get rewards</h6>
                                                    <h1 class="section-title">It Was An Sweet
                                                        Journey Time<span>.</span></h1>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                                </div>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR HISTORY AREA END -->



    <!-- CALL TO ACTION START (call-to-action-5) -->
    <div class="call-to-action-area call-to-action-5 bg-image bg-overlay-theme-90 pt-40 pb-25" data-bg="img/bg/13.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-5 text-decoration text-center">
                        <h2 class="white-color">For More Information:  <a href="{% url 'contact' %}">Contact Us</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

  <!-- BRAND LOGO AREA START -->
                                <div class="ltn__brand-logo-area ltn__brand-logo-1 pt-5 pb-110 plr--9">
                                 <div class="container-fluid">
                                     <div class="row ltn__brand-logo-active">
                                        <div class="col-lg-12">
                                            <div class="ltn__brand-logo-item">
                                            <br>
                                                <a href="{% url 'main_app' %}" ><img src="{%static 'img/brand-logo/1.png' %}" alt="Bosch Brand Logo"></a>
                                            </div>
                                         </div>
                                     <div class="ltn__brand-logo-item">
                                         <div class="col-lg-12">
                                    <div class="ltn__brand-logo-item">
                                        <a href="{% url 'amaron' %}" ><img src="{%static 'img/brand-logo/2-1.png' %}" alt="Amaron Brand Logo"></a>
                                  </div>
                                         </div>
                                 </div>
                              </div>
                              </div>
                    <!-- BRAND LOGO AREA END -->
                                </div>

{% endblock content1 %}