{% extends 'main_app/main2.html' %}
{% load static %}
{% block content1 %}

    <div class="ltn__utilize-overlay"></div>
    <!-- SLIDER AREA START (slider-6) -->
    <div class="ltn__slider-area ltn__slider-3 ltn__slider-6 section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1 arrow-white">
            <!-- ltn__slide-item  -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-overlay-theme-black-60 bg-image" data-bg="{%static 'img/slider/44.jpg' %}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// High Quality Solar Batteries</h6>
                                                <div class="slide-brief animated">
                                                    <p>Works any time, every time, all the time</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="{% url 'search2' '+2s'  %}" class="theme-btn-1 btn btn-effect-1">Search</a>
                                                    <a href="{% url 'contact' %}" class="btn btn-transparent btn-effect-2 white-color">Contact</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img">

                                    <span class="call-to-circle-1"><img src="{%static 'img/slider/SOLAR.png' %}" alt="AMARON Battery Slogan"></span>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item  -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-60" data-bg="{%static 'img/slider/44.jpg' %}">
                <div class="ltn__slide-item-inner text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation" id="footer_to1">
                                                <h6 class="slide-sub-title ltn__secondary-color animated"> High Quality Solar Batteries</h6>
                                                <div class="slide-brief animated">
                                                    <p>100% long-lasting guarantee </p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="{% url 'search2' '+2s'  %}" class="theme-btn-1 btn btn-effect-1">Search</a>
                                                    <a href="{% url 'contact' %}" class="btn btn-transparent btn-effect-2 white-color">Contact</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img">
                                    <span class="call-to-circle-1"><img src="{%static 'img/slider/SOLAR.png' %}" alt="AMARON Battery Slogan"></span>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!-- SLIDER AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-80 pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                      <img src="{%static 'img/others/amq.jpg' %}" alt="Image">
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color"> Overview</h6>
                            <h1 class="section-title">Amaron Quanta<span>.</span></h1>
                            <p>It is a Product of world class battery technology produced and tested in Amara Raja’s premier VRLA manufacturing facility. A market leader in just 10 years, Amaron Quanta is a preferred 12V VRLA SMF battery brand by most of India’s reputed UPS manufacturers and customers across various segments like Banks, IT Companies, BPOs, Industries, Government Departments, Hospital, and Education Institutes etc. </p>
                        </div>
                        <img src="{%static 'img/others/amxl.jpg' %}" alt="Image">
                        <div class="section-title-area ltn__section-title-2">
                            <br>
                            <br>
                            <p>Amaron Quanta S-XEL is a source of 'Uninterrupted Power' for various core industries. This new generation of Tubular Battery is big in power storage and enduring in performance. As a company that is known for its obsession with its technology, Amara Raja has been behind some of the best innovations in technology that India has seen. Amaron Quanta S-Xel is a fail-safe, foolproof battery, produced and tested in our state of the art manufacturing facility. Built with the highest technical competence in its class, the Amaron Quanta S-XEL is an example of Amara Raja's commitment to bring the best of its technology. Amaron Quanta S-Xel is the industry's first product of acid circulation formation process technology amount tubular batteries which enhances the life of the battery. </p>
                        </div>
                    </div>
                </div>
                 <!-- Shop Tab Start -->
                    <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                        <div class="ltn__shop-details-tab-menu">
                            <div class="nav">
                                <a class="active show" data-toggle="tab" href="#liton_tab_details_1_1">Description</a>
                                <a data-toggle="tab" href="#liton_tab_details_1_2" class="">More Models</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <h4 class="title-2">Amaron Quanta S-XEL</h4>
                                     <ul>
                                         <li>High-Pressure Spine casting (100 Bar) provides uni-directional grains orientation with microhardness extradite superior life.</li>
                                         <li>Allow rapid charge & delivers high power. Optimized current dense & higher conductivity leading to last long.</li>
                                         <li>Mitigating corrosion prone zone provides high life - Really long</li>
                                         <li>Unique wet pasting process, lower resistance to deliver consistent power & low self-discharge</li>
                                         <li>Automated cast-on-strap delivers durability & performance</li>
                                         <li>Rigid & Integrated terminal connectivity provides sustainable strength</li>
                                         <li>Best in class vent design reduces acid spewing, built-in-flame arrestor avoids acid mist exist</li>
                                         <li>Industry first acid circulation formation process enhances battery life</li>
                                     </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_details_1_2">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <!-- comment-reply -->
                                    <div class="ltn__comment-reply-area ltn__form-box mb-30">
                                        <form action="#">
                                            <div class="mb-30">
                                                <div class="add-a-review">
                                                    <h4>View all models:</h4> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                                     <a href="{% url 'search2' 'quanta' %}" class="theme-btn-1 btn btn-effect-1">MODELS</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Tab End -->
            </div>
        </div>
    </div>
    <hr>
    <!-- ABOUT US AREA END -->

 <!-- CALL TO ACTION START (call-to-action-2) -->
    <div class="ltn__call-to-action-area call-to-action-2 pt-20 pb-20" data-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-2 text-center">
                        <h2>Call us to know more about the products: </h2>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-4 btn-white" href="{% url 'contact' %}"><i class="fas fa-phone-volume"></i> MAKE A CALL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

    <!-- WHY CHOOSE US AREA START -->
    <div class="ltn__why-choose-us-area section-bg-1 pt-120 pb-120" id="footer_to3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-choose-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color"> Overview</h6>
                            <h1 class="section-title">Amaron Solar<span>.</span></h1>
                            <p> The latest offering from the house of Amara Raja to provide power backup solutions for any type of solar power systems. Amaron Solar available in both SMF & Tubular variants. Amaron Solar Tubular Batteries has covered all aspects in design. required to give high life beside to ensure fast charge with high efficiency and best in class went design making it a perfect choice for high cyclic back-up requirement. SMF Battery for solar applications which is built to perform. Sensing the need of enduring and reliable source of solar power, Amara Raja offers the complete range of batteries for solar systems available in the market. </p>
                            <hr>

                        </div>
                    </div>
                    <div class="section-title-area ltn__section-title-2">

                        <p> Amara Raja Batteries Limited (ARBL), the flagship company of the Amara Raja Group, is the technology leader and is one of the largest manufacturers of lead-acid batteries for both industrial and automotive applications in the Indian storage battery industry. ARBL has prestigious original equipment manufacturers like Maruti Suzuki India Limited, Hyundai Motors India Limited, Ford India Limited, Tata Motors Limited, Mahindra and Mahindra Limited, Honda Cars India Limited, Renault Nissan, Honda Motorcycles & Scooters India Private Ltd, Royal Enfield, Bajaj Auto Ltd, and many more as its clients. The Company's Industrial and Automotive batteries are exported to 32 countries across the globe. In India, Amara Raja is the preferred supplier to major telecom service providers, Telecom equipment manufacturers, UPS sector (OEM & Replacement), Indian Railways and to Power, Oil & Gas among other industry segments. </p>
                        </div>
                </div>
               <div class="col-lg-6 align-self-center">
                   <img src="{%static 'img/others/ams.jpg' %}" alt="Image">
                </div>
            </div>
              <!-- Shop Tab Start -->
                    <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                        <div class="ltn__shop-details-tab-menu">
                            <div class="nav">
                                <a class="active show" data-toggle="tab" href="#liton_tab_details_1_3">Tubular Series</a>
                                <a data-toggle="tab" href="#liton_tab_details_1_4" class="">SMF Series</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_details_1_3">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <h4 class="title-2">Amaron Solar Tubular Battery</h4>
                                     <ul>
                                        <img src="{%static 'img/others/tubular.png' %}" alt="Image">
                                         <br>
                                         <hr>
                                         <li>Suitable for PSOC and deep discharge</li>
                                         <li>Unique heavy duty corrosion-resistant alloy for positive grids to increase cyclic life in tropical environments</li>
                                         <li>Mitigating corrosion prone zone provides high life - Really long</li>
                                         <li>Radgrid™ profile providing lower internal resistance and performance</li>
                                         <li>Instacharge™, A pateneted paste recipe for excellent charge acceptance</li>
                                         <li>Higher AH and WH Efficiency</li>
                                         <li>Higher AH and WH Efficiency</li>
                                         <li>View the models : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                             <a href="{% url 'search2' 'tubular' %}" class="theme-btn-1 btn btn-effect-1">MODELS</a></li>
                                     </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_details_1_4">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <!-- comment-reply -->

                                        <form action="#">
                                            <div class="mb-30">
                                               <div class="ltn__shop-details-tab-content-inner">
                                                   <h4 class="title-2">Amaron Solar Tubular Battery</h4>
                                                 <ul>
                                                 <img src="{%static 'img/others/smf.png' %}" alt="Image">
                                                <br>
                                                <hr>
                                                <li>Suitable for PSOC and deep discharge</li>
                                                <li>Unique heavy duty corrosion-resistant alloy for positive grids to increase cyclic life in tropical environments</li>
                                                <li>Mitigating corrosion prone zone provides high life - Really long</li>
                                                <li>Radgrid™ profile providing lower internal resistance and performance</li>
                                                <li>Instacharge™, A pateneted paste recipe for excellent charge acceptance</li>
                                                <li>Higher AH and WH Efficiency</li>
                                                    <li>View the models : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                                        <a href="{% url 'search2' 'smf' %}" class="theme-btn-1 btn btn-effect-1">MODELS</a></li>
                                                   </ul>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Tab End -->
        </div>
    </div>
    <!-- WHY CHOOSE US AREA END -->

    <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area ltn__brand-logo-1 pt-80 pb-110 plr--9">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{%static 'img/brand-logo/2.png' %}" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->

{% endblock content1 %}