{% extends 'main_app/main.html' %}
{% load static %}
{% block content1 %}

  <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="{%static 'img/bg/9.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  BOSCH Battery Series</h6>
                            <h1 class="section-title white-color">Product Details</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'main_app' %}">Home</a></li>
                                <li>Product Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->


    <!-- SHOP DETAILS AREA START -->
    <div class="ltn__shop-details-area pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="ltn__shop-details-inner mb-60">
                        <div class="row">
                             {% for batteryrange in batteryrange %}
                            <div class="col-md-6">
                                <div class="ltn__shop-details-img-gallery">
                                    <div class="ltn__shop-details-large-img">
                                        <div class="single-large-img wave ltn__animation-wave-4s">

                                            <a href="{{batteryrange.range_pic.url}}" data-rel="lightcase:myCollection">
                                                <img src="{{batteryrange.range_pic.url}}" alt="Image">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="modal-product-info shop-details-info pl-0">
                                    <div class="product-ratting">
                                        <ul>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h3>BOSCH Battery Series:</h3>
                                    <div class="product-price">
                                        <span>{{batteryrange.range_name}}</span>
                                    </div>
                                    {% endfor %}
                                    <div class="modal-product-meta ltn__product-details-menu-1">
                                        <ul>
                                            <li>
                                                <strong>Application:</strong>
                                                <br>
                                                <br>
                                                <span>
                                                    {% for applications in applications %}
                                                    {% if applications.is_3_wheeler %}
                                                    <img src="{%static 'img/icons/3wheel.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_small_car %}
                                                    <img src="{%static 'img/icons/smallcar.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_large_car %}
                                                    <img src="{%static 'img/icons/largecar.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_xtra_small_car %}
                                                    <img src="{%static 'img/icons/xtrasmallcar.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_small_van %}
                                                    <img src="{%static 'img/icons/smallvan.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_truck %}
                                                    <img src="{%static 'img/icons/truck.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_bus %}
                                                    <img src="{%static 'img/icons/bus.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_tractor %}
                                                    <img src="{%static 'img/icons/tractor.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_JCB %}
                                                    <img src="{%static 'img/icons/JCB.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_construction_vehicle%}
                                                    <img src="{%static 'img/icons/constructionvehicle.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_bike %}
                                                    <img src="{%static 'img/icons/bike.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% if applications.is_scooter %}
                                                    <img src="{%static 'img/icons/scooter.png' %}" alt="Three Wheeler" width="50" height="50">
                                                    {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="ltn__product-details-menu-3">
                                        <ul>
                                            <li>
                                                <h6>All models : </h6>
                                            </li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li>
                                            <div class="btn-wrapper">
                                                 {% for batteryrange in batteryrange %}
                                                <a href="search/{{batteryrange.range_name}}+rangenone+range" class="theme-btn-1 btn btn-effect-1">View Models</a></h4>
                                                {% endfor %}
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Tab Start -->
                    <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                        <div class="ltn__shop-details-tab-menu">
                            <div class="nav">
                                <a class="active show" data-toggle="tab" href="#liton_tab_details_1_1">Description</a>
                                <a data-toggle="tab" href="#liton_tab_details_1_2" class="">Full Features</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                                <div class="ltn__shop-details-tab-content-inner">
                                    {% for batteryrange in batteryrange %}
                                    <h4 class="title-2">BOSCH {{batteryrange.range_name}} Series Battery</h4>
                                    {% if batteryrange.range_name == "S3" or batteryrange.range_name == "S4" or batteryrange.range_name == "S5" %}
                                    <p> Efficient Bosch quality for a wide range of requirements and vehicle types – that is what Bosch S3/S4/S5 SLI batteries stand out for</p>
                                    <h4>Advantages:</h4>
                                     <ul>
                                         <li><strong>Outstanding starting power and a long service life:</strong> Optimised current flow and less corrosion increases the cold-start performance</li>
                                         <li><strong>Absolutely maintenance-free:</strong> The double lid with labyrinth design returns condensed water to the battery, thus reducing the water consumption, and preventing sudden leaks of acid if tilted</li>
                                         <li><strong>Particularly high corrosion resistance:</strong> Ensured by optimised production processes</li>
                                         <li><strong>High safety: </strong>Ensured by double backfire protection and integrated central degassing</li>
                                     </ul>
                                    {% elif batteryrange.range_name == "S4+" or batteryrange.range_name == "S5+" %}
                                    <p> Bosch S4+ and S5+ SLI batteries, powered by silver alloy technology, are customised to meet the requirements of modern cars with several electrical consumers and advanced features such as start / stop systems.</p>
                                    <h4>Advantages:</h4>
                                     <ul>
                                         <li><strong>Outstanding starting power and a long service life: </strong>Optimised current flow and less corrosion increases the cold-start performance</li>
                                         <li><strong>Absolutely maintenance-free:</strong> The double lid with labyrinth design returns condensed water to the battery, thus reducing the water consumption; and preventing sudden leaks of acid if tilted</li>
                                         <li><strong>Particularly high corrosion resistance:</strong> Ensured by optimised production processes</li>
                                         <li><strong>High safety: </strong>Ensured by double backfire protection and integrated central degassing</li>
                                     </ul>
                                    {% elif batteryrange.range_name == "T4" %}
                                    <p>Bosch T4 for heavy duty vehicles, is ideal for average energy demands</p>
                                    <h4>Advantages:</h4>
                                     <ul>
                                         <li><strong>Outstanding starting power and a long service life: </strong>Optimised current flow and less corrosion increases the cold-start performance</li>
                                         <li><strong>High resistance to vibrations: </strong> The robust construction and design of T4 Batteries meet the vibration resistance V3 according to EN-standards</li>
                                         <li><strong>Absolutely maintenance-free:</strong> The double lid with labyrinth design returns condensed water to the battery, thus reducing the water consumption; and preventing sudden leaks of acid if tilted</li>
                                         <li><strong>Particularly high corrosion resistance:</strong> Ensured by optimised production processes</li>
                                         <li><strong>High safety: </strong>Ensured by double backfire protection and integrated central degassing</li>
                                     </ul>
                                    {% elif batteryrange.range_name == "M6" %}
                                    <p>Equipped with Absorbent Glass Mat (AGM) technology, Bosch 2-Wheeler Batteries are built to provide a powerful riding experience. A fine fibre glass mat placed within the plates immobilises the absorbed acid, making it available to the plates. This mechanism allows for quicker reaction time between the acid and the plate. VRLA batteries are armed with special plates that prevent the gases from escaping, thereby preventing water-loss. This enables zero maintenance and thus leading to longer service life of the battery.</p>
                                    <h4>Advantages:</h4>
                                     <ul>
                                         <li><strong>Outstanding starting power: </strong>Bosch M6 AGM Batteries do not lose performance because of frequent charging and discharging cycles. This ensures top starting performance – even though frequently subject to short- distance trips</li>
                                         <li><strong>High resistance to vibrations: </strong> Powered by AGM technology, these batteries are particularly vibration-resistant making them perfectly suitable for powersports and off-road applications</li>
                                         <li><strong>Ready to use / maintenance-free: </strong> The battery comes with an acid pack and a filling aid for initial filling</li>
                                         <li><strong>Long service life: </strong>AGM technology keeps the self-discharge rates low thus increasing the service life of the battery by 20% in comparison with conventional starter batteries</li>
                                         <li><strong>Increased cold-starting reliability: </strong>AGM technology features a higher resistance to deep discharge and a higher cold-starting performance than conventional starter batteries</li>
                                     </ul>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_details_1_2">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <h4 class="title-2">More Information</h4>
                                    <!-- comment-area -->
                                    <div class="ltn__comment-area mb-30">
                                        <div class="ltn__comment-inner">
                                            <ul>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        {% for batteryrange in batteryrange %}
                                                        <div class="ltn__commenter-img">
                                                            <img src="{{batteryrange.range_pic.url}}" alt="Image">
                                                        </div>
                                                        <div class="ltn__commenter-comment">
                                                            <h6><a href="#">BOSCH {{batteryrange.range_name}} Series Battery</a></h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Seires:</h6>
                                                            <span>{{batteryrange.range_name}}</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Technology:</h6>
                                                            <span>{{batteryrange.technology}}</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Service Life:</h6>
                                                            <span class="ltn__comment-reply-btn">{{batteryrange.service_life}}/5</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                    <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Cold-Starting Performance:</h6>
                                                            <span class="ltn__comment-reply-btn">{{batteryrange.cold_start_perf}}/5</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                    <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Deep-Cycle Resistance:</h6>
                                                            <span class="ltn__comment-reply-btn">{{batteryrange.deep_cylce_resist}}/5</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                </li>
                                                    <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Number of Electrical Consumers:</h6>
                                                            <span class="ltn__comment-reply-btn">{{batteryrange.no_of_electrical_consumers}}/5</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Sustainability for shorter distances:</h6>
                                                            <span class="ltn__comment-reply-btn">{{batteryrange.suitability_of_short_dist}}/5</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                  <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Maintenance:</h6>
                                                            {% if batteryrange.maintenance == "MF" %}
                                                            <span>Maintenance Free!</span>
                                                            <br>
                                                            {% else %}
                                                            <span>Not Maintenance Free!</span>
                                                             {% endif %}
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Installation inside Vehicle:</h6>
                                                             {% if batteryrange.installation_inside_vehicle %}
                                                                <span>Yes!</span>
                                                            {% else %}
                                                                <span>No!</span>
                                                            {% endif %}
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Installation Angle:</h6>
                                                            <span>{{batteryrange.installation_angle}}°</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-comment">
                                                            <h6>Warranty:</h6>
                                                            <span>{{batteryrange.warranty_duration}} Months</span>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- comment-reply -->
                                    <div class="ltn__comment-reply-area ltn__form-box mb-30">
                                        <form action="#">
                                            <div class="mb-30">
                                                <div class="add-a-review">
                                                    <h4>View all Series:</h4> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                                     <a href="{% url 'showcase' %}" class="theme-btn-1 btn btn-effect-1">View Models</a></h4>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Tab End -->
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                        <!-- Top Rated Product Widget -->
                        <div class="widget ltn__top-rated-product-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Features</h4>
                            <ul>
                                <li>

                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <img src="{%static 'img/icons/car.png' %}" alt="#" width="50" height="50">
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="#">Maintenance</a></h6>
                                              {% for batteryrange in batteryrange %}
                                            <div class="product-price">
                                                {% if batteryrange.maintenance == "MF" %}
                                                <span>Maintenance Free!</span>
                                                {% else %}
                                                <span>Not Maintenance Free!</span>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <img src="{%static 'img/icons/car.png' %}" alt="#" width="50" height="50">
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="#">Warranty</a></h6>
                                            {% for batteryrange in batteryrange %}
                                            <div class="product-price">
                                                <span>{{batteryrange.warranty_duration}} Months</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <img src="{%static 'img/icons/car.png' %}" alt="#" width="50" height="50">
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h6><a href="#">Installation in Vehicle</a></h6>
                                            {% for batteryrange in batteryrange %}
                                            <div class="product-price">
                                                 {% if batteryrange.installation_inside_vehicle %}
                                                <span>Yes!</span>
                                                {% else %}
                                                <span>No!</span>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP DETAILS AREA END -->

    <!-- PRODUCT SLIDER AREA START -->
    <div class="ltn__product-slider-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">//  BOSCH Battery Series</h6>
                        <h1 class="section-title">Related Products<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__related-product-slider-one-active slick-arrow-1">
                {% for related in related %}
                <!-- ltn__product-item -->
                <div class="col-lg-12">
                    <div class="ltn__product-item ltn__product-item-3 text-center">
                        <div class="product-img wave">
                            <a href="{% url 'showcase' %}"><img src="{{related.range_pic.url}}" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">New</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <h2 class="product-title"><a href="{% url 'showcase' %}">{{related.range_name}}</a></h2>
                            <div class="product-price">
                                <span>{{related.warranty_duration}} Months</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- PRODUCT SLIDER AREA END -->

    <!-- MODAL AREA START (Quick View Modal) -->
    <div class="ltn__modal-area ltn__quick-view-modal-area">
        <div class="modal fade" id="quick_view_modal" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <!-- <i class="fas fa-times"></i> -->
                        </button>
                    </div>
                    <div class="modal-body">
                         <div class="ltn__quick-view-modal-inner">
                             <div class="modal-product-item">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="modal-product-img">
                                            <img src="img/product/4.png" alt="#">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="modal-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                                </ul>
                                            </div>
                                            <h3>Brake Conversion Kit</h3>
                                            <div class="product-price">
                                                <span>$149.00</span>
                                                <del>$165.00</del>
                                            </div>
                                            <div class="modal-product-meta ltn__product-details-menu-1">
                                                <ul>
                                                    <li>
                                                        <strong>Categories:</strong>
                                                        <span>
                                                            <a href="#">Parts</a>
                                                            <a href="#">Car</a>
                                                            <a href="#">Seat</a>
                                                            <a href="#">Cover</a>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ltn__product-details-menu-2">
                                                <ul>
                                                    <li>
                                                        <div class="cart-plus-minus">
                                                            <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="theme-btn-1 btn btn-effect-1" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal">
                                                            <i class="fas fa-shopping-cart"></i>
                                                            <span>ADD TO CART</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ltn__product-details-menu-3">
                                                <ul>
                                                    <li>
                                                        <a href="#" class="" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                            <i class="far fa-heart"></i>
                                                            <span>Add to Wishlist</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="" title="Compare" data-toggle="modal" data-target="#quick_view_modal">
                                                            <i class="fas fa-exchange-alt"></i>
                                                            <span>Compare</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <hr>
                                            <div class="ltn__social-media">
                                                <ul>
                                                    <li>Share:</li>
                                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL AREA END -->
 <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area ltn__brand-logo-1 pt-80 pb-110 plr--9">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{%static 'img/brand-logo/1.png' %}" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->
{% endblock content1 %}

