{% extends 'main_app/main.html' %}
{% load static %}
{% block content1 %}

    <div class="ltn__utilize-overlay"></div>
    <!-- SLIDER AREA START (slider-6) -->
    <div class="ltn__slider-area ltn__slider-3 ltn__slider-6 section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1 arrow-white">
            <!-- ltn__slide-item  -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-overlay-theme-black-60 bg-image" data-bg="{%static 'img/bg/9.jpg' %}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// High Quality Automotive Batteries</h6>
                                                <div class="slide-brief animated">
                                                    <p>Works any time, every time, all the time</p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="shop" class="theme-btn-1 btn btn-effect-1">View</a>
                                                    <a href="contact" class="btn btn-transparent btn-effect-2 white-color">Contact</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img">

                                    <span class="call-to-circle-1"><img src="{%static 'img/slider/41-1.png' %}" alt="BOSCH Battery Slogan"></span>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item  -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white  bg-overlay-theme-black-60 bg-image " data-bg="{%static 'img/slider/41-2.jpg' %}">
                <div class="ltn__slide-item-inner text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-item-info">
                                            <div class="slide-item-info-inner ltn__slide-animation" id="footer_to1">
                                                <h6 class="slide-sub-title ltn__secondary-color animated">// High Quality Automotive Batteries</h6>
                                                <h1 class="slide-title animated ">BOSCH <br>  Batteries</h1>
                                                <div class="slide-brief animated">
                                                    <p>100% long-lasting guarantee </p>
                                                </div>
                                                <div class="btn-wrapper animated">
                                                    <a href="shop" class="theme-btn-1 btn btn-effect-1">View</a>
                                                    <a href="contact" class="btn btn-transparent btn-effect-2 white-color">Contact</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img">
                                  <span class="call-to-circle-1"><img src="{%static 'img/slider/41-1.png' %}" alt="BOSCH Battery Slogan"></span>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!-- SLIDER AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-80 pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <ul class="ltn__parallax-effect-wrap ltn__parallax-effect-active"
                            data-friction-x="0.1"
                            data-friction-y="0.1"
                            data-scalar-x="15"
                            data-scalar-y="25">
                            <li class="layer" data-depth="0.00"></li>
                            <li class="layer" data-depth="0.10">
                                <div class="ltn__effect-img ltn__effect-img-top-left">
                                    <img src="{%static 'img/effect/1.png' %}" alt="BOSCH BATTERY 1">
                                </div>
                            </li>
                            <li class="layer" data-depth="0.30">
                                <div class="ltn__effect-img ltn__effect-img-top-right">
                                    <img src="{%static 'img/effect/2.png' %}" alt="BOSCH BATTERY 2">
                                </div>
                            </li>
                            <li class="layer" data-depth="0.50">
                                <div class="ltn__effect-img ltn__effect-img-center-left">
                                    <img src="{%static 'img/effect/3.png' %}" alt="BOSCH BATTERY 3">
                                </div>
                            </li>
                            <li class="layer" data-depth="0.20">
                                <div class="ltn__effect-img ltn__effect-img-center-right">
                                    <img src="{%static 'img/effect/4.png' %}" alt="BOSCH BATTERY 4">
                                </div>
                            </li>
                            <li class="layer" data-depth="0.20">
                                <div class="ltn__effect-img ltn__effect-img-bottom-left">
                                    <img src="{%static 'img/effect/5.png' %}" alt="BOSCH BATTERY 5">
                                </div>
                            </li>
                            <li class="layer" data-depth="0.20">
                                <div class="ltn__effect-img ltn__effect-img-bottom-right">
                                    <img src="{%static 'img/effect/6.png' %}" alt="BOSCH BATTERY 6">
                                </div>
                            </li>
                            <li class="layer" data-depth="0.50">
                                <div class="wave ltn__animation-wave-5s ltn__effect-img-top-center " id="footer_to2">
                                    <div class="about-us-img-info">
                                        <div class="about-us-img-info-inner">
                                            <h1><span class="counter">134</span><span>+</span></h1>
                                            <h6><span>Years</span> Of Experience</h6>
                                            <span class="dots-bottom"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">// Overview</h6>
                            <h1 class="section-title">High Quality Automative Batteries<span>.</span></h1>
                            <p>Modern vehicles are equipped with more and more components running on electrical energy. They need to be supplied with reliable sources of energy with high performance. Equipped with modern technology and featuring a corrosion-proof design, Bosch automotive batteries provide different types of vehicles with the energy they need – over long periods.</p>
                        </div>

                        <p> We Provide the best industry quality batteries that are suitable for you!</p>
                        <hr>
                        <div class="about-call-us">
                            <div class="call-us-icon">
                                <img src="{%static 'img/icons/7.png' %}" alt="Icon Image">
                            </div>
                            <div class="call-us-info">
                                <p>Call us to know more <a href="{% url 'contact' %}" class="ltn__secondary-color text-decoration"><strong>all your questions</strong></a>.</p>
                                <h2><a href="tel:+123456789">+91-9656938383</a> <small> or </small> <a href="tel:+123456789">+919744488383</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->
   <!-- PRODUCT SLIDER AREA START -->
    <div class="ltn__product-slider-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">//  Slide To View BOSCH Battery Series</h6>
                        <h1 class="section-title">Available Products<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__related-product-slider-one-active slick-arrow-1">
                {% for related in related %}
                <!-- ltn__product-item -->
                <div class="col-lg-12">
                    <div class="ltn__product-item ltn__product-item-3 text-center">
                        <div class="product-img wave">
                            <a href="details/{{related.range_name}}+range"><img src="{{related.range_pic.url}}" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">New</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <h2 class="product-title"><a href="{% url 'showcase' %}">{{related.range_name}}</a></h2>
                            <div class="product-price">
                                <span>Warranty: {{related.warranty_duration}} Months</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- PRODUCT SLIDER AREA END -->


    <!-- WHY CHOOSE US AREA START -->
    <div class="ltn__why-choose-us-area section-bg-1 pt-120 pb-120" id="footer_to3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-choose-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">// Why Choose Us</h6>
                            <h1 class="section-title">Powering Vehicles across the Globe for over Nine Decades<span>.</span></h1>
                            <p>For Bosch every battery is a technological milestone. In 1922, Bosch made its mark in battery production. Right from batteries for passenger cars, commercial vehicles, and tractors, to those for three- and two-wheelers, Bosch continuously revolutionises its line of products for the automotive industry across the globe. </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="why-choose-us-feature-item">
                                    <div class="why-choose-us-feature-icon">
                                        <i class="icon-car-parts-1"></i>
                                    </div>
                                    <div class="why-choose-us-feature-brief">
                                        <h3><a href="service-details.html">AGM Batteries</a></h3>
                                        <p>ST Hightec AGM batteries revolutionise the fast-growing start-stop technology in the market</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="why-choose-us-feature-item">
                                    <div class="why-choose-us-feature-icon">
                                        <i class="icon-automobile"></i>
                                    </div>
                                    <div class="why-choose-us-feature-brief">
                                        <h3><a href="service-details.html">Lithium-ion battery</a></h3>
                                        <p>Launched Li-Ion two-wheeler batteries in Europe & America</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="why-choose-us-img-wrap">
                        <div class="why-choose-us-img-1 text-left">
                            <img src="{%static 'img/others/1.jpg' %}" alt="BOSCH BAttery Image">
                        </div>
                        <div class="why-choose-us-img-2 text-right">
                            <img src="{%static 'img/others/2.jpg' %}" alt="BOSCH Battery Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- WHY CHOOSE US AREA END -->
    <!-- CALL TO ACTION START (call-to-action-2) -->
    <div class="ltn__call-to-action-area call-to-action-2 pt-20 pb-20" data-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-2 text-center">
                        <h2>Call us to know more about the products:</h2>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-4 btn-white" href="{% url 'contact' %}"><i class="fas fa-phone-volume"></i> MAKE A CALL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area pt-115 pb-80" id="footer_to">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 section-title-style-3">
                        <div class="section-brief-in">
                            <p>The superior build of Bosch Automotive batteries make them resistant to high temperatures in the engine compartment, minimising acid consumption and corrosion. This translates into minimum self-discharge, extreme tolerance for short distance driving, and reliable operational safety throughout the operating life of the battery.</p>
                        </div>
                        <div class="section-title-in">
                            <h6 class="section-subtitle ltn__secondary-color">// Features</h6>
                            <h1 class="section-title">BOSCH Battery Advantages<span>.</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row  justify-content-center">
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-3 text-right">
                                <div class="ltn__feature-icon">
                                    <span><i class="icon-car-parts"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h2><a href="service-details.html">Quick and Reliable Starting</a></h2>
                                    <p>High quality Bosch batteries are designed and tested to operate in all climatic conditions to ensure reliability and long-lasting performance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-3 text-right">
                                <div class="ltn__feature-icon">
                                    <span><i class="icon-exterior"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h2><a href="service-details.html">Precision</a></h2>
                                    <p>Designed and tested solutions for every vehicle make and model.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-3 text-right">
                                <div class="ltn__feature-icon">
                                    <span><i class="icon-car-parts-6"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h2><a href="service-details.html">Extensive Market Coverage</a></h2>
                                    <p>Bosch batteries are designed and engineered for a wide range of vehicle models</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="feature-banner-img text-center mb-30">
                        <img src="{%static 'img/others/2.png' %}" alt="BOSCH S5 BATTERY">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row  justify-content-center">
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-3">
                                <div class="ltn__feature-icon">
                                    <span><i class="icon-car-parts-7"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h2><a href="service-details.html">Trust</a></h2>
                                    <p>Being one of the world’s leading automotive systems manufacturers, Bosch ensures that every product meets the stringent quality demands of original equipment manufacturers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-3">
                                <div class="ltn__feature-icon">
                                    <span><i class="icon-car-parts-8"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h2><a href="service-details.html">Long Service Life</a></h2>
                                    <p>Corrosion-resistant technology increases the service life of the batteries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-3">
                                <div class="ltn__feature-icon">
                                    <span><i class="icon-car-parts-3"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h2><a href="service-details.html">Recognised for Innovation</a></h2>
                                    <p>130 years of experience in automotive technologies</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->
    <!-- CALL TO ACTION START (call-to-action-2) -->
    <div class="ltn__call-to-action-area call-to-action-2 pt-20 pb-20" data-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-2 text-center">
                        <h2>View our location on Google Maps</h2>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-4 btn-white" href="{% url 'contact' %}">MAPS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

    <!-- TESTIMONIAL AREA START -->
    <div class="ltn__testimonial-area ltn__testimonial-4 pt-115 pb-100 plr--9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">// DO's & DONT's</h6>
                        <h1 class="section-title">Tips From BOSCH<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__testimonial-slider-4 ltn__testimonial-slider-4-active slick-arrow-1">
                        <div class="ltn__testimonial-item-5">
                            <div class="ltn__quote-icon">
                                <i class="far fa-comments"></i>
                            </div>
                            <div class="ltn__testimonial-image">
                                <img src="{%static 'img/testimonial/3.jpg' %}" alt="quote">
                            </div>
                            <div class="ltn__testimonial-info">
                                <p>Work Safely while working with electrical equipments.</p>
                                <h4>Safety First!!</h4>
                                <h6>DO</h6>
                            </div>
                        </div>
                        <div class="ltn__testimonial-item-5">
                            <div class="ltn__quote-icon">
                                <i class="far fa-comments"></i>
                            </div>
                            <div class="ltn__testimonial-image">
                                <img src="{%static 'img/testimonial/4.jpg' %}" alt="quote">
                            </div>
                            <div class="ltn__testimonial-info">
                                <p>Do not use an unregulated high-voltage cleaner</p>
                                <h4>Unregulated Voltage Cleaner!!</h4>
                                <h6>Don't</h6>
                            </div>
                        </div>
                        
                        <div class="ltn__testimonial-item-5">
                            <div class="ltn__quote-icon">
                                <i class="far fa-comments"></i>
                            </div>
                            <div class="ltn__testimonial-image">
                                <img src="{%static 'img/testimonial/6.jpg' %}" alt="quote">
                            </div>
                            <div class="ltn__testimonial-info">
                                <p>Recharge battery immediately after discharge</p>
                                <h4>Recharging!!</h4>
                                <h6>DO</h6>
                            </div>
                        </div>

                        <div class="ltn__testimonial-item-5">
                            <div class="ltn__quote-icon">
                                <i class="far fa-comments"></i>
                            </div>
                            <div class="ltn__testimonial-image">
                                <img src="{%static 'img/testimonial/1.jpg' %}" alt="quote">
                            </div>
                            <div class="ltn__testimonial-info">
                                <p>Avoid metallic contact with terminals as this can result in short circuits and sparking</p>
                                <h4>Avoid Metallic contact!!</h4>
                                <h6>Don't</h6>
                            </div>
                        </div>
                    </div>
                    <ul class="ltn__testimonial-quote-menu d-none d-lg-block">
                        <li><img src="{%static 'img/testimonial/3.jpg' %}" alt="Quote image"></li>
                        <li><img src="{%static 'img/testimonial/4.jpg' %}" alt="Quote image"></li>
                        <li><img src="{%static 'img/testimonial/6.jpg' %}" alt="Quote image"></li>
                        <li><img src="{%static 'img/testimonial/1.jpg' %}" alt="Quote image"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL AREA END -->


    <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area ltn__brand-logo-1 pt-80 pb-110 plr--9">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{%static 'img/brand-logo/1.png' %}" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->

{% endblock content1 %}