{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Team4 - BOSCH Automotive Batteries and AMARON solar Batteries</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Team4 provides you the best of Automative Batteries from BOSCH and high quality AMARON solar batteries. Team4 Bosch Automotive Batteries in Ponkunnam, Kottayam is one of the top Battery Dealers in Ponkunnam, Kottayam,Kerala">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="{%static 'img/favicon.png' %}" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="{%static 'css/font-icons.css' %}">
    <!-- plugins css -->
    <link rel="stylesheet" href="{%static 'css/plugins.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}">

    <!-- Modernizr JS -->
    <script src="{%static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <header class="ltn__header-area ltn__header-4 ltn__header-6 ltn__header-transparent gradient-color-2">
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area top-area-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><i class="icon-mail"></i> &nbsp E-mail : team4bbdktm@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-right">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li>
                                        <!-- ltn__language-menu -->
                                        <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                                            <ul>
                                                <li><a href="#" class="dropdown-toggle"><span class="active-currency">Kerala, India</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->
    </header>

<!-- Body main wrapper start -->
<div class="body-wrapper">


    <!-- SLIDER AREA START (slider-4) -->
    <div class="ltn__slider-area ltn__slider-4 ">
        <div class="ltn__slide-one-active----- slick-slide-arrow-1----- slick-slide-dots-1----- arrow-white----- ltn__slide-animation-active">
            <!-- ltn__slide-item -->
           <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-50" data-bg="{%static 'img/banner/bg.gif' %}">
                <div class="ltn__slide-item-inner text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <br>
                                <br>
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h1 class="slide-sub-title ltn__secondary-color animated text-uppercase"> TEAM4 BATTERIES </h1>
                                        <br>
                                        <div class="btn-wrapper animated">
                                                    <a href="{% url 'main_app' %}" class="theme-btn-1 btn btn-effect-1">BOSCH Automotive</a>
                                                    <a href="{% url 'amaron' %}" class="btn btn-transparent btn-effect-2 white-color">AMARON Solar</a>
                                                </div>
                                    </div>
                                </div>

                                <div class="btn-wrapper animated">



                                <!-- BRAND LOGO AREA START -->
                                <div class="ltn__brand-logo-area ltn__brand-logo-1 pt-5 pb-110 plr--9">
                                 <div class="container-fluid">
                                     <div class="row ltn__brand-logo-active">
                                        <div class="col-lg-12">
                                            <div class="ltn__brand-logo-item">
                                            <br>
                                                <a href="{% url 'main_app' %}" ><img src="{%static 'img/brand-logo/1.png' %}" alt="Bosch Brand Logo"></a>
                                            </div>
                                         </div>
                                     <div class="ltn__brand-logo-item">
                                         <div class="col-lg-12">
                                    <div class="ltn__brand-logo-item">
                                        <a href="{% url 'amaron' %}" ><img src="{%static 'img/brand-logo/2-1.png' %}" alt="Amaron Brand Logo"></a>
                                  </div>
                                         </div>
                                 </div>
                              </div>
                              </div>
                    <!-- BRAND LOGO AREA END -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER AREA END -->


      <!-- FOOTER AREA START (ltn__footer-2 ltn__footer-color-1) -->
    <footer class="ltn__footer-area ltn__footer-2 ltn__footer-color-1">
        <div class="footer-top-area section-bg-15">

        </div>
        <div class="ltn__copyright-area ltn__copyright-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                 <a href="https://wa.me/919656938383"><img src="{%static 'img/brand-logo/whatsapp.png' %}" alt="Logo" height="30px" width="30px"></a>
                                <img src="{%static 'img/brand-logo/logo2.png' %}" alt="Logo">
                            </div>
                            <div class="get-support ltn__copyright-design clearfix">
                                <div class="get-support-info">
                                    <h6>Copyright & Design By</h6>
                                    <h4>Impulsive Creations <span class="current-year"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-right">
                            <ul>
                                <li><a href="#">Developer Website   | </a></li>
                                <li><a href="https://impulsivecreations.in">https://impulsivecreations.in</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
</div>
<!-- Body main wrapper end -->

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- All JS Plugins -->
    <script src="{%static 'js/plugins.js' %}"></script>
    <!-- Main JS -->
    <script src="{%static 'js/main.js' %}"></script>

</body>
</html>




