{% extends 'main_app/main.html' %}
{% load static %}
{% block content1 %}

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-3 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Search for Battery Models</h6>
                            <h1 class="section-title white-color">Search</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'main_app' %}">Home</a></li>
                                <li>Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- PRODUCT DETAILS AREA START -->
    <div class="ltn__product-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__shop-options">
                        <ul>
                            <li>
                                <div class="ltn__grid-list-tab-menu ">
                                    <div class="nav">
                                        <a class="active show" data-toggle="tab" href="#liton_product_grid"><i class="fas fa-th-large"></i></a>
                                        <a data-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                               <div class="showing-product-number text-right typewriter">
                                    {% if args == "+s" %}
                                   <span>Search for a model...</span>
                                    {% else %}
                                    <span>Showing Results...</span>
                                   {% endif %}
                                </div>
                            </li>
                            <li>
                               <div class="short-by text-center">

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_product_grid">
                            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                                <div class="row">
                                     <!-- First condition -->
                                    {% if range %}
                                    {% for bmodel in bmodel %}
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-4 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="models/{{bmodel.part_number}}+range"><img src="{{bmodel.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bmodel.part_number}}+range" title="Quick View">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="models/{{bmodel.part_number}}+range">Model Number : </a></h2>
                                                <div class="product-price">
                                                    <span>{{bmodel.part_number}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    {% endfor %}

                                    <!-- CONDITION TO CHECK THE OEM -->

                                    {% elif args %}

                                     {% for compatability in compatability %}
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-4 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="models/{{compatability.model_id.part_number}}+range"><img src="{{compatability.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{compatability.model_id.part_number}}+range" title="Quick View">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="models/{{compatability.model_id.part_number}}+range">Model Number : </a></h2>
                                                <div class="product-price">
                                                    <span>{{compatability.model_id.part_number}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    {% endfor %}

                                    {% endif %}


                                    {% if range_name == "vm" %}
                                    <!-- to check vehicle models -->

                                     {% for ll in ll %}
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-4 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="models/{{ll.model_id.part_number}}+range"><img src="{{ll.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{ll.model_id.part_number}}+range" title="Quick View">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="models/{{ll.model_id.part_number}}+range">Model Number : </a></h2>
                                                <div class="product-price">
                                                    <span>{{ll.model_id.part_number}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    {% endfor %}
                                    {% endif %}


                                    {% if bikes %}
                                    <!-- to check vehicle models -->

                                     {% for bikes in bikes %}
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-4 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="models/{{bikes.model_id}}+range"><img src="{{bikes.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bikes.model_id}}+range" title="Quick View">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="models/{{bikes.model_id}}+range">Model Number : </a></h2>
                                                <div class="product-price">
                                                    <span>{{bikes.model_id}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    {% endfor %}
                                    {% endif %}

                                    {% if bikes_comp %}
                                    <!-- to check vehicle models -->
                                     {% for bikes_comp in bikes_comp %}
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-4 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="models/{{bikes_comp.bike_id.model_id}}+range"><img src="{{bikes_comp.bike_id.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bikes_comp.bike_id.model_id}}+range" title="Quick View">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="models/{{bikes_comp.bike_id.model_id}}+range">Model Number : </a></h2>
                                                <div class="product-price">
                                                    <span>{{bikes_comp.bike_id.model_id}}</span>
                                                </div>
                                                {% if bikes_comp.bike_scooter == "BK" %}
                                                <span>Bike</span>
                                                {% elif bikes_comp.bike_scooter == "SC" %}
                                                <span>Scooter</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    {% endfor %}
                                    {% endif %}

                                     {% if bike_app %}
                                    <!-- to check vehicle models -->
                                     {% for bike_app in bike_app %}
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-4 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="models/{{bike_app.bike_id.model_id}}+range"><img src="{{bike_app.bike_id.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bike_app.bike_id.model_id}}+range" title="Quick View">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="models/{{bike_app.bike_id.model_id}}+range">Model Number : </a></h2>
                                                <div class="product-price">
                                                    <span>{{bike_app.bike_id.model_id}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        <!--  Other view -->


























                        <div class="tab-pane fade" id="liton_product_list">
                            <div class="ltn__product-tab-content-inner ltn__product-list-view">
                                <div class="row">
                                    {% if range %}
                                    {% for bmodel in bmodel %}
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href=" models/{{bmodel.part_number}}+range"><img src="{{bmodel.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="#">BOSCH {{bmodel.range_id.range_name}} Series</a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>{{bmodel.part_number}}</span>
                                                </div>
                                                <div class="product-brief">
                                                    <p>{{bmodel.range_id.technology}}</p>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bmodel.part_number}}+range">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}

                                     <!-- CONDITION TO CHECK THE OEM -->

                                    {% elif args %}

                                     {% for compatability in compatability %}
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href=" models/{{compatability.model_id.part_number}}+range"><img src="{{compatability.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="models/{{compatability.model_id.part_number}}+range">Compatible with {{args}}</a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>{{compatability.model_id.part_number}}</span>
                                                </div>
                                                <div class="product-brief">
                                                    <p>{{compatability.range_id.technology}}</p>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{compatability.model_id.part_number}}+range">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}


                                    {% if range_name == "vm" %}
                                    <!-- to check vehicle models -->

                                     {% for ll in ll %}
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href=" models/{{ll.model_id.part_number}}+range"><img src="{{ll.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="models/{{ll.model_id.part_number}}+range">Compatible with {{args}}</a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>{{ll.model_id}}</span>
                                                </div>
                                                <div class="product-brief">
                                                    <p>{{ll.range_id.technology}}</p>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{ll.model_id.part_number}}+range">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}

                                     {% if bikes %}
                                    <!-- to check vehicle models -->

                                     {% for bikes in bikes %}
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href=" models/{{bikes.model_id}}+range"><img src="{{bikes.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="models/{{bikes.model_id}}+range">Compatible with {{args}}</a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>{{bikes.model_id}}</span>
                                                </div>
                                                <div class="product-brief">
                                                    <p>{{bikes.range_id.technology}}</p>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bikes.model_id}}+range">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}


                                    {% if bikes_comp %}
                                    <!-- to check vehicle models -->

                                     {% for bikes_comp in bikes_comp %}
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href=" models/{{bikes_comp.bike_id.model_id}}+range"><img src="{{bikes_comp.bike_id.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="models/{{bikes_comp.bike_id.model_id}}+range">Compatible with {{args}}</a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>{{bikes_comp.bike_id.model_id}}</span>
                                                </div>
                                                <div class="product-brief">
                                                    <p>{{bikes_comp.bike_id.range_id.technology}}</p>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bikes_comp.bike_id.model_id}}+range">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}

                                    {% if bike_app %}
                                    <!-- to check vehicle models -->

                                     {% for bike_app in bike_app %}
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href="models/{{bike_app.bike_id.model_id}}+range"><img src="{{bike_app.bike_id.range_id.range_pic.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="models/{{bike_app.bike_id.model_id}}+range">Compatible with {{args}}</a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>{{bike_app.bike_id.model_id}}</span>
                                                </div>
                                                <div class="product-brief">
                                                    <p>{{bike_app.bike_id.range_id.technology}}</p>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="models/{{bike_app.bike_id.model_id}}+range">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                        <!-- Search Widget -->
                        <div class="widget ltn__search-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Search For Model</h4>
                            <form method="POST"> {% csrf_token %}
                                <input type="text" list="search"  name="search_l" placeholder="Search your model...">
                                <datalist id="search">
                                    {% for compatability in compatability %}
                                    <option value="{% ifchanged compatability.OEM %} {{ compatability.OEM }} {% endifchanged %}" >{% ifchanged compatability.OEM %} {{ compatability.OEM }} {% endifchanged %}</option>
                                    {% endfor %}
                                </datalist>
                            </form>
                        </div>
                        <!-- Category Widget -->
                        {% if range %}
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Models</h4>
                            <ul>
                                 {% for bmodel in bmodel %}
                                <li><a href="models/{{bmodel.part_number}}+range">{{bmodel.part_number}}<span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                         {% elif args %}
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Models</h4>
                            <ul>
                               {% for compatability in compatability %}
                                <li><a href="models/{{compatability.model_id.part_number}}+range">{{compatability.model_id.part_number}} <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% elif range_name == "vm" %}
                        <!-- to check vehicle models -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Models</h4>
                            <ul>
                               {% for ll in ll %}
                                <li><a href="models/{{ll.model_id.part_number}}+range">{{ll.model_id.part_number}} <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                         {% if bikes %}
                        <!-- to check vehicle models -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Models</h4>
                            <ul>
                               {% for bikes in bikes %}
                                <li><a href="models/{{bikes.model_id}}+range">{{bikes.model_id}} <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                         {% elif bikes_comp %}
                        <!-- to check vehicle models -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Models</h4>
                            <ul>
                               {% for bikes_comp in bikes_comp %}
                                <li><a href="models/{{bikes_comp.bike_id.model_id}}+range">{{bikes_comp.bike_id.model_id}} <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                         {% elif bike_app %}
                        <!-- to check vehicle models -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Models</h4>
                            <ul>
                               {% for bike_app in bike_app %}
                                <li><a href="models/{{bike_app.bike_id.model_id}}+range">{{bike_app.bike_id.model_id}} <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS AREA END -->


 <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area ltn__brand-logo-1 pt-80 pb-110 plr--9">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="{%static 'img/brand-logo/1.png' %}" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->


{% endblock content1 %}